<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info">
            <h4 class="card-title">Ajouter une demande de conge</h4>
            <p class="card-category">Complèter les informations </p>
        </div>
        <div class="card-body">
            <form #userPost="ngForm" role="form">
                <div class="row">
                    <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Date Debut" type="date" required id="dateDebut" name="dateDebut" value={{conge?.dateDebut}} ngModel>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Date Fin" type="date" required id="dateFin" name="dateFin" value={{conge?.dateFin}} ngModel>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Type" required id="typeConge" name="typeConge" value={{conge?.typeConge}} ngModel>
                                <ng-container *ngFor="let type of types">
                                    <mat-option value="{{type.id}}">{{type.value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-7">
                        <mat-form-field class="example-full-width">
                            <textarea matInput minlength="6" placeholder="Raison" type="raison" id="raison" name="raison" value={{conge?.raison}} ngModel required>
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button class="btn btn-danger pull-right " (click)="onNoClick() ">Annuler</button>
                <button mat-raised-button type="submit" class="btn btn-info pull-right " (click)="insertEmployee(userPost.value)">Ajouter</button>
                <div class="clearfix "></div>
            </form>
        </div>
    </div>
</div>