<!DOCTYPE html>

<body>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title" style="color:white;">List des consultations</h4>
                        </div>
                        <div class="card-body">
                            <div class="sidebar-wrapper" style="display: flex;flex-direction: row;justify-content: space-between;">
                                <form class="form-inline waves-light" mdbWavesEffect>
                                </form>
                                <button mat-raised-button type="submit" [routerLink]="['/ajoutconsultation']" routerLinkActive="router-link-active" class="btn border-secondary mb-3 pull-right "><i class="material-icons">add</i>&nbsp;&nbsp;Ajouter Consultation</button>
                            </div>
                            <div class="table-responsive">
                                <table class="table" id="example-table">
                                    <thead class=" text-info" id="table-headline">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            ID PATIENT
                                        </th>
                                        <th>
                                            DATE
                                        </th>
                                        <th>
                                            DIAGNOSTIQUE
                                        </th>
                                        <th>
                                            ORDONNANCE
                                        </th>
                                        <th>

                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items">
                                            <td> {{ item.id_Consultation}} </td>
                                            <td> {{ item.id_patient}} </td>
                                            <td> {{ item.date}} </td>
                                            <td><button mat-raised-button (click)="afficherDiagnostique(item.diagnostique)" class="btn  btn-info mb-3 pull-left "> &nbsp;<i class="material-icons">visibility</i></button>
                                            </td>
                                            <td style="text-align:center">
                                                <button *ngIf="item.ordonnance==null" mat-raised-button type="submit " (click)="test(item.id_Consultation)" class="btn  bg-dark mb-3 pull-left ">Ajouter une Ordonnance &nbsp;<i class="material-icons">list_alt</i></button>
                                                <button *ngIf="item.ordonnance!=null" (click)="viewOrdonnace(item.id_Consultation , item.id_patient)" mat-raised-button type="submit " class="btn bg-light text-dark border border-dark pull-left ">A déja une ordonnance</button>
                                            </td>
                                            <td style="text-align: center;">
                                                <button (click)="deleteConsultation(item.id_Consultation)" mat-stroked-button class="btn btn-danger"> <i class="material-icons">delete</i>&nbsp;</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>