<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Liste des patient</h4>
                        <p class="card-category"> Il existe {{patients.length}} Patients </p>
                    </div>
                    <div class="card-body">
                        <div class="sidebar-wrapper" style="display: flex;flex-direction: row;justify-content: space-between;">
                            <form class="form-inline waves-light" mdbWavesEffect>
                                <div class="md-form mt-0">
                                    <input autocomplete="off" style="border-color: darkblue;" [(ngModel)]="searchText" class="form-control mr-sm-2" name="myValue" type="text" placeholder="Rechercher patient" />
                                </div>
                            </form>
                            <div >
                                <button mat-raised-button type="submit" class="btn btn-warning" (click)="ajouterPatient()"><i class="material-icons">person_add</i>&nbsp;&nbsp;Ajouter Patient</button>
                            </div>
                        </div>
                        <br> <br>

                        <div class="row">
                            <div class="col-sm-3 col-sm-3 col-sm-3" *ngFor="let item of patients | testFilter:{id_patient: searchText ,prenom: searchText}; ">
                                <div class="card card-stats">
                                    <div class="card-header card-header-warning card-header-icon  ">
                                        <div class="card-icon" style="text-align: right !important; background : #00bcd4 !important; box-shadow :none !important ;     width: 40%;
                                                        height: 40% !important;">
                                            <img src="../../../assets/patient.png" style="height: 70px;width: 70px;">
                                        </div>
                                        <p class="card-category " style="text-align: left;"> <b>ID </b>: {{ item.id_patient}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Prenom </b>: {{ item.prenom}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Nom </b>: {{ item.nom}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Email </b>: {{ item.email}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Cin </b>: {{ item.cin}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Tel </b>: {{ item.telephone}}</p>
                                        <p class="card-category" style="text-align: left;"><b>date d' Enregistrement</b> : {{item.dateEnregistrement}}</p>
                                        <p class="card-category" style="text-align: left;"><b>DatedeNaissance</b> : {{item.dateNaissance}}</p>

                                        <p class="card-category" style="text-align: left;"><b>Adresse </b>: {{item.adresse}}</p>
                                        <p class="card-category" style="text-align: left;"><b>Sexe </b>: {{item.gender}}</p>
                                        <button  mat-mini-fab type="submit" (click)="modifierPatient(item.id_patient)" style="width :23px;" class="btn bg-dark " style="width : 1m; "><i class="material-icons" style="font-size: 20px !important;width : auto !important;">edit</i></button>&nbsp;
                                        <button  mat-mini-fab type="submit" (click)="deletePat(item.id_patient)" class="btn btn-danger " style="width : 1m; "><i class="material-icons" style="font-size: 20px !important;width : auto !important;">delete</i></button>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>